<h1>page create blog</h1>
<form action="/edit-blog-action/{{form.instance.id}}" method="POST">
  {% csrf_token %}
  <div>
    <label for="tile">title</label>
    <input type="text" id="title" name="title" />
    {{ form.title }}
  </div>
  <div>
    <label for="content">content</label>
    <textarea id="content" name="content"></textarea>
    {{ form.title }}
  </div>
  <div>
    <label for="created_by">author</label>
    <input type="text" id="created_by" name="created_by" />
    {{ form.created_at }}
  </div>
  <button type="submit">simpan</button>
</form>

{% if messages %}{% for msg in messages %}
<p>{{ msg }}</p>
{% endfor %}
{% endif %}