<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>

<h1>Register</h1>

<form method="POST">
    {% csrf_token %}


{{ form.non_field_errors }}

<div>
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.username.errors }}
</div>

<div>
    {{ form.password1.label_tag }}
    {{ form.password1 }}
    {{ form.password1.errors }}
</div>

<div>
    {{ form.password2.label_tag }}
    {{ form.password2 }}
    {{ form.password2.errors }}
</div>
    <button type="submit">
        Register
    </button>
</form>


<a href="{% url 'login' %}">
    Sudah punya akun?
</a>
{% if messages %}{% for msg in messages %}
<p>{{ msg }}</p>
{% endfor %}
{% endif %}
{{form.errors}}
</body>
</html>

